
/* Section.css */

.section-container {
    margin-bottom: 20px;
  }
  
  .section-header {
    display: flex;
    align-items: center;
  }
  
  .section-title {
    margin-right: auto;
  }
  
  .section-button {
    margin-left: 10px;
  }
  