/* Card.css */

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.media {
  height: 0;
  padding-top: 56.25%; /* 16:9 */
}

.chip {
  position: absolute;
  top: 8px;
  right: 8px;
}

.bottomSection {
  padding: 8px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
